.grid-autofill-layout .container {
	height: 10rem;
	width: 16rem;
	position: relative;
	cursor: pointer;
}

.card-overlay {
	height: 100%;
	width: 20%;
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 0.7;
	position: absolute;
	top: 0;
	right: 0;
	background-color: var(--bg-color);
	color: var(--secondary-color);
	font-weight: bold;
	font-family: var(--ternary-font);
	font-size: 1.5rem;
	align-items: center;
}

.playlist-card-footer {
	align-items: center;
	padding: 1rem 0.25rem;
}

.playlist-card-img {
	position: relative;
}
