.note {
	width: 10rem;
}

.grid-70-30 {
	display: grid;
	grid-template-columns: minmax(0, 70%) minmax(0, 30%);

	margin: 6rem 5rem;

	gap: 3rem;
}

.video-player {
	height: 25rem;
}

.note-section {
	overflow-y: auto;
	height: 25rem;
}

.note {
	background-color: var(--ternary-color);
	width: 100%;
}

.video-description .flex-column {
	align-items: center;
}

.creator {
	border: 1px var(--shadow-color);
	border-style: solid none;
	align-items: center;
}

@media (max-width: 1024px) {
	.grid-70-30 {
		margin: 0;
		gap: 1rem;
		grid-template-columns: 1fr;
	}
	.note-section {
		overflow-y: none;
		height: auto;
	}
}

@media (max-width: 748px) {

	.video-player {
		height: 15rem;
	}
}
