.video-title {
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	display: -webkit-box;
	overflow: hidden;
}

.video-content {
	display: flex;
	justify-content: space-between;
	padding: 0.5rem 0.25rem;
}

.video-content .flex-row {
	flex-wrap: nowrap;
}
