.search-bar {
	width: 30%;
	display: flex;

	padding-left: 1rem;
	height: 2.5rem;
	border-radius: 100px;
}
.search-bar input {
	width: 100%;
	outline: none;
	border: none;
	background-color: inherit;
	color: var(--secondary-color);
}

.icon-search {
	height: 90%;

	background-color: none;
}

.search-bar button {
	border: none;
	background-color: transparent;
	margin-right: 0.5rem;
	cursor: pointer;
}

.search-bar button img {
	height: 1rem;
	width: 1rem;

}

.nav-bar-links .flex-column,
.nav-bar-secondary {
	align-items: center;
	justify-content: center;
	text-align: center;
}

@media (max-width: 1024px) {
	.search-bar {
		position: absolute;
		top: 5rem;
		left: 0;
		right: 0;
		width: 100%;
		border-radius: 2px;
	}
	.nav-bar {
		padding: 0rem 2rem;
	}
}

@media (max-width: 992px) {
	.nav-bar-primary {
		display: flex;
	}
}

@media (max-width: 600px) {
	.nav-bar-links {
		display: none;
	}
}
