.chip {
	background-color: var(--ternary-color);
	border: 1px solid var(--primary-color);
	border-radius: 100px;
	padding: 8px 16px;
	margin-right: 1rem;
	cursor: pointer;
}

.chip:hover,
.chip-active {
	background-color: var(--primary-color);
	color: var(--ternary-color);
}

.sort-drawer{
	box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
	background-color: var(--bg-color);
	position: absolute;
	top:95%;
	z-index:4
}

.sort-wrapper{
	position: relative;
	padding-top:1.5rem;
}

.explore-subcontainer {
	margin-left: 3rem;
	padding: 2rem 0rem 0rem 1rem;
}

@media (max-width: 1024px) {
	.chip-container {
		margin: 0 0 3rem 0;
		padding: 0rem 0rem 0rem 0;
	}
	.sort-wrapper{
		padding-bottom:1.5rem;
	}
}

@media (max-width:600px){
	.explore-subcontainer{
		margin-left:0;
		padding: 1rem 0;
	}
}
