@import url(https://asimov-ui.netlify.app/themes/darktheme.css);


.content{
	min-height: 80vh;
}

.main-container {
	display: grid;
	grid-template-columns: min-content 1fr;
	place-content: center;
	padding-top:5rem;
}
.grid-autofill-layout {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
	gap: 2rem;
	margin: 3rem;
	grid-template-rows: min-content;
}

.grid-autofill-layout .card {
	justify-self: center;
	height: min-content;
	cursor: pointer;
	position: relative;
}

.grid-autofill-layout .card img {
	object-fit: contain;
}

.grid-40-60-layout {
	display: grid;
	grid-template-columns: 40% 60%;
}

.video-option-container {
	position: absolute;
	top: 50%;
	left: 35%;

	background-color: var(--bg-color);
	box-shadow: #222 0px 2px 5px -1px, #222 0px 1px 3px -1px;
}

.flex-align-center {
	align-items: center;
}

@media (max-width: 1024px) {
	.main-container {
		grid-template-columns: 1fr;
		padding: 8rem 4rem;
	}
	.grid-autofill-layout {
		margin: 0;
	}
}
